{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="p-5 text-center" style="height: 100vh;">
        <div class="h-50">
            <h1 class="fw-bold display-1">Webbboly</h1>
            {{ component('FlashContainerComponent') }}
        </div>
        <div class="h-50">
            <div class="h-50">
                {{ form_start(form) }}
                <div class="col-lg-4 mx-auto">
                    <div class="input-group input-group-lg has-validation">
                        {{ form_row(form.code) }}
                        <button class="btn btn-success" type="submit">Join</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="h-50">
                <div id="my_div_id" {{ turbo_stream_listen('https://example.com/index') }}></div>
                <a class="btn btn-outline-warning btn-lg px-4" href="{{ path('app_lobby_create') }}">Create Game</a>
            </div>
        </div>
    </div>
{% endblock %}
