{% extends 'game/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Spiel #{{ game.code }} vorbei</h1>
                <p>Gewinner: {{ winner.nickname }}</p>
                <p>Spieler:</p>
                <ul>
                    {% for player in players %}
                        <li>{{ player.nickname }}</li>
                    {% endfor %}
                </ul>
            </div>
            <a href="{{ path('app_index') }}" class="btn btn-primary">Zurück zur Startseite</a>
        </div>
    </div>
{% endblock %}

{% block title %}
    Spiel #{{ game.code }} vorbei
{% endblock %}

