{% extends 'base.html.twig' %}

{% block title %}
    Spiel #{{ game.code }}
{% endblock %}

{% block body %}
    <div {{ turbo_stream_listen('https://webbboly/game/' ~ game.code) }}></div>
    <div {{ turbo_stream_listen('https://webbboly/game/' ~ game.code ~ '/player/' ~ currentPlayer.number) }}></div>

    {% include 'game/partials/_rules.html.twig' %}

    <div id="game">
        <div id="boardContainer">
            {% block playing_field %}
                {% include 'game/partials/_board.html.twig' %}
            {% endblock %}
        </div>
        <div id="actions" {{ stimulus_controller('turn', {
            enabled: currentPlayer is same as(game.currentTurnPlayer),
            gameCode: game.code,
            playerId: currentPlayer.id,
            position: currentPlayer.position
        }) }}>
            {% block actions %}
                {% include 'game/partials/_actions.html.twig' %}
            {% endblock %}
        </div>
        <div id="players">
            {% block players %}
                {% include 'game/partials/_players.html.twig' %}
            {% endblock %}
        </div>
    </div>

    <script>
        const eventSource = new EventSource(
            '{{ mercure('https://webbboly/game/' ~ game.code ~ '/player/' ~ currentPlayer.number ~ '/turn') }}'
        );

        eventSource.onmessage = message => {
            const data = JSON.parse(message.data);
            const event = new CustomEvent('turn', {
                detail: data
            });

            document.getElementById('actions').dispatchEvent(event);
        };
    </script>

    <div id="modal"></div>

    <script>
        function localFetch(path) {
            fetch(path, {
                method: 'GET',
            }).then(r => r.json()).then(data => {
                if (!data.success) {
                    throw new Error('Error');
                }
            })
        }
    </script>
{% endblock %}
