{% extends 'base.html.twig' %}

{% block title %}
    Lobby
{% endblock %}

{% block body %}
    {% if currentPlayer.isHost %}
        <div {{ turbo_stream_listen('game/' ~ game.id ~ '/host') }}></div>
    {% else %}
        <div {{ turbo_stream_listen('game/' ~ game.id) }}></div>
    {% endif %}

    <div {{ stimulus_controller('disable-turbo-stream', {
        'action': 'update',
        'target': 'player-' ~ currentPlayer.id,
    }) }}></div>

    <h1>Lobby</h1>
    <div id="players" >
        {% for player in game.players %}
            {{ component('LobbyPlayer', {
                'player': player,
                'isMe': player is same as(currentPlayer),
                'isHost': player.isHost,
                'forHost': currentPlayer.isHost,
            }) }}
        {% endfor %}
    </div>

    <div id="actions">

        <a href="{{ path('app_game_ready', {
            'code': game.code,
        }) }}">
            {% if currentPlayer.isReady %}
                Unready
            {% else %}
                Ready
            {% endif %}
        </a>

        {% if currentPlayer is same as(game.host) %}
            {% if game.isGameReady %}
                <a href="">Start game</a>
            {% elseif game.isGameFull %}
                <span>Waiting for players to be ready...</span>
            {% else %}
                <span>Waiting for players to join...</span>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

