{% extends 'base.html.twig' %}

{% block body %}
    <div {{ turbo_stream_listen('https://example.com/game/' ~ game.id) }}></div>


    Lobby
    {% for i in 1..4 %}
        {% if game.players[i-1] is defined %}
            <div id="player-{{ game.players[i-1].number }}" {% if game.players[i-1] is same as(player) %} class="bg-danger" {% endif %} >
                Player 2: {{ game.players[i-1].nickname }}
            </div>
        {% else %}
            <div id="player-{{ i }}">
                Player {{ i }}
            </div>
        {% endif %}
    {% endfor %}

    {% if game.players[0] is defined and game.players[1] is defined and game.players[2] is defined and game.players[3] is defined %}
        <a href="">Start game</a>
    {% endif %}
{% endblock %}

{% block title %}
    Lobby
{% endblock %}

