{% extends 'base.html.twig' %}

{% block title %}
    Lobby #{{ game.code }}
{% endblock %}

{% block body %}
    <div id="lobby">
        {% if currentPlayer.isHost %}
            <div {{ turbo_stream_listen('https://webbboly/game/' ~ game.code ~ '/host') }}></div>
        {% endif %}

        <div {{ turbo_stream_listen('https://webbboly/game/' ~ game.code) }}></div>
        <div {{ turbo_stream_listen('https://webbboly/game/' ~ game.code ~ '/player/' ~ currentPlayer.number) }}></div>

        <div {{ stimulus_controller('disable-turbo-stream', {
            'action': 'replace',
            'target': 'player-' ~ currentPlayer.id,
        }) }}></div>

        <div class="lobby-page-title">
            <h1>Lobby #{{ game.code }}</h1>
        </div>
        <div class="players-actions-container">
            <div id="players">
                <table class="table table-hover">
                    <tbody>
                        {% for player in game.players %}
                            {{ component('LobbyPlayer', {
                                'player': player,
                                'isMe': player is same as(currentPlayer),
                                'isHost': player.isHost,
                                'forHost': currentPlayer.isHost,
                            }) }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="actions">

                {% if currentPlayer.isReady %}
                    <a class="btn btn-danger" href="{{ path('app_lobby_ready', {
                        'code': game.code,
                    }) }}">
                        Unready
                    </a>
                {% else %}
                    <a class="btn btn-success" href="{{ path('app_lobby_ready', {
                        'code': game.code,
                    }) }}">
                        Ready
                    </a>
                {% endif %}

                {% if currentPlayer is same as(game.host) %}
                    {{ component('StartGameLinkComponent', {
                        game: game,
                    }) }}

                    {{ component('LinkComponent', {
                        type: 'danger',
                        href: path('app_lobby_delete', {
                            'code': game.code,
                        }),
                        text: 'Delete game',
                    }) }}
                {% else %}
                    {{ component('LinkComponent', {
                        type: 'danger',
                        href: path('app_lobby_leave', {
                            'code': game.code,
                        }),
                        text: 'Leave game',
                    }) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

