<a href="{{ asset('build/images/' ~ field.actionField.img) }}" {{ stimulus_controller('light-box') }}>
    <img src="https://placehold.co/50x50.png" class="img-fluid img-thumbnail"
         alt="{{ field.actionField.name }}">
</a>

{% if field.owner is null %}
    <span>{{ price }}$</span>
{% else %}
    <span class="text-{{ this.getPlayerClass(field.owner) }}"
          style="{% if field.mortgaged %}text-decoration: line-through;{% endif %}">
        {{ field.owner.nickname }} (w*{{ this.getRailroadRent() }})
    </span>
{% endif %}
