<div id="dice" {{ stimulus_target('turn', 'dice') }} {{ stimulus_action('turn', 'roll', 'click') }}
     class="h-100 w-100 d-flex justify-content-center align-items-center rounded bg-secondary position-relative">
    <div class="bg-light px-2 m-2 rounded">
        <span class="fs-1" {{ stimulus_target('turn', 'diceOne') }}>0</span>
    </div>
    +
    <div class="bg-light px-2 m-2 rounded">
        <span class="fs-1" {{ stimulus_target('turn', 'diceTwo') }}>0</span>
    </div>
</div>
<div id="endTurn" {{ stimulus_target('turn', 'endTurn') }} {{ stimulus_action('turn', 'endTurn', 'click') }}
     class="h-100 w-100 rounded bg-primary text-center">
    <span class="self-center">Zug Beenden</span>
</div>
<div id="trade" {{ stimulus_target('turn', 'trade') }}
     class="h-100 w-100 rounded bg-secondary text-center">
    <span class="self-center">Tauschen</span>
</div>
<div id="leave" {{ stimulus_target('turn', 'giveUp') }} {{ stimulus_action('turn', 'giveUp', 'click') }}
     class="h-100 w-100 rounded bg-danger text-center">
    <span class="self-center">Aufgeben</span>
</div>
