<div id="board" class="rounded ratio ratio-1x1">
    <div id="center">
        <div class="text-center">
            <h1>Webbboly</h1>
        </div>
    </div>
    <div id="start">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(0),
        }) }}
    </div>
    <div id="jail">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(10),
        }) }}
    </div>
    <div id="parking">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(20),
        }) }}
    </div>
    <div id="goToJail">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(30),
        }) }}
    </div>
    <div id="cell1">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(1),
        }) }}
    </div>
    <div id="cell2">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(2),
        }) }}
    </div>
    <div id="cell3">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(3),
        }) }}
    </div>
    <div id="cell4">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(4),
        }) }}
    </div>
    <div id="cell5">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(5),
        }) }}
    </div>
    <div id="cell6">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(6),
        }) }}
    </div>
    <div id="cell7">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(7),
        }) }}
    </div>
    <div id="cell8">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(8),
        }) }}
    </div>
    <div id="cell9">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(9),
        }) }}
    </div>
    <div id="cell10">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(11),
            'rotation': 90,
        }) }}
    </div>
    <div id="cell11">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(12),
            'rotation': 90,
        }) }}
    </div>
    <div id="cell12">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(13),
            'rotation': 90,
        }) }}
    </div>
    <div id="cell13">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(14),
            'rotation': 90,
        }) }}
    </div>
    <div id="cell14">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(15),
            'rotation': 90,
        }) }}
    </div>
    <div id="cell15">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(16),
            'rotation': 90,
        }) }}
    </div>
    <div id="cell16">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(17),
            'rotation': 90,
        }) }}
    </div>
    <div id="cell17">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(18),
            'rotation': 90,
        }) }}
    </div>
    <div id="cell18">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(19),
            'rotation': 90,
        }) }}
    </div>
    <div id="cell19">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(21),
            'rotation': 180,
        }) }}
    </div>
    <div id="cell20">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(22),
            'rotation': 180,
        }) }}
    </div>
    <div id="cell21">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(23),
            'rotation': 180,
        }) }}
    </div>
    <div id="cell22">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(24),
            'rotation': 180,
        }) }}
    </div>
    <div id="cell23">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(25),
            'rotation': 180,
        }) }}
    </div>
    <div id="cell24">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(26),
            'rotation': 180,
        }) }}
    </div>
    <div id="cell25">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(27),
            'rotation': 180,
        }) }}
    </div>
    <div id="cell26">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(28),
            'rotation': 180,
        }) }}
    </div>
    <div id="cell27">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(29),
            'rotation': 180,
        }) }}
    </div>
    <div id="cell28">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(31),
            'rotation': 270,
        }) }}
    </div>
    <div id="cell29">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(32),
            'rotation': 270,
        }) }}
    </div>
    <div id="cell30">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(33),
            'rotation': 270,
        }) }}
    </div>
    <div id="cell31">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(34),
            'rotation': 270,
        }) }}
    </div>
    <div id="cell32">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(35),
            'rotation': 270,
        }) }}
    </div>
    <div id="cell33">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(36),
            'rotation': 270,
        }) }}
    </div>
    <div id="cell34">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(37),
            'rotation': 270,
        }) }}
    </div>
    <div id="cell35">
        {{ component('GameActionFieldComponent', {
            'field': game.getFieldByPosition(38),
            'rotation': 270,
        }) }}
    </div>
    <div id="cell36">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(39),
            'rotation': 270,
        }) }}
    </div>
</div>
