<div id="board" class="rounded ratio ratio-1x1">
    <div id="center">
        <div class="text-center">
            <h1>Webbboly</h1>
        </div>
    </div>
    <div id="start" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(0)
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_start.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="jail" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(10)
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_jail.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="parking" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(20)
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_freeParking.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="goToJail" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(30)
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_goToJail.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell1" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(1),
        }) }}
    </div>
    <div id="cell2" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(2)
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_communityChest.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell3" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(3),
        }) }}
    </div>
    <div id="cell4" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(4)
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_incomeTax.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell5" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(5),
            price: 200,
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_railroad.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell6" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(6),
        }) }}
    </div>
    <div id="cell7" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(7)
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_chance.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell8" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(8),
        }) }}
    </div>
    <div id="cell9" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(9),
        }) }}
    </div>
    <div id="cell10" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(11),
        }) }}
    </div>
    <div id="cell11" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(12),
            price: 150,
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_utility.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell12" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(13),
        }) }}
    </div>
    <div id="cell13" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(14),
        }) }}
    </div>
    <div id="cell14" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(15),
            price: 200,
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_railroad.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell15" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(16),
        }) }}
    </div>
    <div id="cell16" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(17)
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_communityChest.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell17" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(18),
        }) }}
    </div>
    <div id="cell18" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(19),
        }) }}
    </div>
    <div id="cell19" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(21),
        }) }}
    </div>
    <div id="cell20" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(22)
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_chance.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell21" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(23),
        }) }}
    </div>
    <div id="cell22" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(24),
        }) }}
    </div>
    <div id="cell23" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(25),
            price: 200,
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_railroad.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell24" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(26),
        }) }}
    </div>
    <div id="cell25" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(27),
        }) }}
    </div>
    <div id="cell26" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(28),
            price: 150,
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_utility.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell27" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(29),
        }) }}
    </div>
    <div id="cell28" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(31),
        }) }}
    </div>
    <div id="cell29" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(32),
        }) }}
    </div>
    <div id="cell30" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(33)
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_communityChest.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell31" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(34),
        }) }}
    </div>
    <div id="cell32" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(35),
            price: 200,
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_railroad.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell33" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(36)
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_chance.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell34" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(37),
        }) }}
    </div>
    <div id="cell35" class="cell-container">
        {% component GameActionFieldComponent with {
            field: game.getFieldByPosition(38)
        } %}
            {% block content %}
                {% include 'game/partials/actionFields/_luxuryTax.html.twig' %}
            {% endblock %}
        {% endcomponent %}
    </div>
    <div id="cell36" class="cell-container">
        {{ component('GameBuildingComponent', {
            'field': game.getFieldByPosition(39),
        }) }}
    </div>
</div>
