<div id="field{{ field.building.position }}" class="{{ this.classes }}">
    <div class="cell-color"
         style="background-color: {{ field.building.street.color }}; color: {{ field.building.street.color }}">
        <div class="icon-flex">
            {% if field.houses == 5 %}
                <div class="icon-wrapper"><i class="bi bi-house-fill text-danger"></i></div>
            {% elseif field.houses != 0 %}
                {% for i in 1..field.houses %}
                    <div class="icon-wrapper"><i class="bi bi-house-fill text-success"></i></div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="cell-content">
        <span>{{ field.building.name }}</span>

        <a href="{{ asset('build/images/' ~ field.building.img) }}" {{ stimulus_controller('light-box') }}>
            <img src="https://placehold.co/50x50.png" class="img-fluid img-thumbnail"
                 alt="{{ field.building.name }}">
        </a>

        {% if field.owner is null %}
            <span>{{ field.building.price }}$</span>
        {% else %}
            <span class="text-{{ this.getPlayerClass(field.owner) }}"
                  style="{% if field.mortgaged %}text-decoration: line-through;{% endif %}">
                {{ field.owner.nickname }}
                ({{ field.rent(this.wholeStreetOwned) }}$)
            </span>
        {% endif %}
    </div>

    {{ include('game/partials/_visitor.html.twig') }}
</div>
